{% extends "main/base.html" %}

{% block title %}Registrace{% endblock title %}
{% block content %}

<div class="alert alert-danger" role="alert">
  <h2 class="h5">Aktivace se nezdařila</h2>
  <p class="mb-0">
    {% if activation_error.code == "already_activated" %}
      Účet již byl aktivován.
    {% elif activation_error.code == "expired" %}
      Aktivační odkaz je již neplatný.
    {% else %}
      Aktivační klíč je neplatný. Zkontrolujte prosím, zda byl celý odkaz správně zkopírován do prohlížeče.
    {% endif %}
  </p>
</div>

{% endblock content %}
