{% load static i18n %}<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Otevřená města z.s.">

    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.min.js" %}"></script>
    <![endif]-->

    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fontawesome.all.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    {% block css %}{% endblock %}

    <title>{% block title %}{% endblock title %} - Výdej materiálu</title>
  </head>
  <body class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-shrink-0">
      <div class="container">
        <a class="navbar-brand" href="/">
          <i class="fas fa-plus-square mr-2"></i>
          Výdej materiálu
        </a>

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-controls=".navbar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.resolver_match.view_name == "main:dispense" %}active{% endif %}">
              <a class="nav-link" href="{% url "main:dispense" %}">Výdej</a>
            </li>

            <li class="nav-item {% if request.resolver_match.view_name == "main:about" %}active{% endif %}">
              <a class="nav-link" href="{% url "main:about" %}">O&nbsp;Aplikaci</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url "admin:index" %}">Spravovat</a>
            </li>

            {% if request.user.is_authenticated %}
            <li class="nav-item ">
              <a class="nav-link" href="{% url "main:logout" %}">Odhlásit</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" class="flex-grow-1">
      <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} mt-3">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        {% endfor %}
        {% endif %}

        <div class="my-4">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </main>

    <footer class="footer w-100 mt-auto py-2 mt-3 border-top flex-shrink-0 bg-dark text-light">
      <div class="container text-center">
        <div>
          <a href="https://otevrenamesta.cz/">
            <img src="{% static "images/logo-om.png" %}" height="20">
          </a>
        </div>
      </div>
    </footer>

    <script src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% block javascript %}{% endblock javascript %}
  </body>
</html>
