{% extends "main/base.html" %}
{% block title %}Výdej{% endblock title %}
{% block content %}

<h2 class="h5 my-4">Číslo dokladu: {{ id_card_no }}</h2>

<h2 class="h5 my-2">Záznam o výdeji</h2>

{% if forms %}

  <form method="post" action="{% url 'main:dispense_new' id_card_no=id_card_no %}" autocomplete="off">
    {% csrf_token %}

    <table class="table table-sm">
      {% for form in forms %}
        {% include 'main/dispense_form_snippet.html' with material=form.material quantity_field=form.quantity %}
      {% endfor %}

      <tr>
        <td colspan="2"></td>
        <td>
          <button type="submit"
                  class="btn btn-primary mt-2"
                  style="width: 100%"
                  tabindex="2">Uložit</button>
        </td>
        <td></td>
      </tr>
    </table>
  </form>

{% else %}

  <div class="alert alert-danger" role="alert">V této lokalitě nebyl naskladněn žádný materiál k výdeji. Kontaktujte prosím koordinátora.</div>

{% endif %}

{% endblock content %}
