{% extends "main/base.html" %}
{% block title %}Výdej{% endblock title %}
{% block content %}

<h2 class="h5 mt-4 mb-2">Úprava záznamu</h2>

<form method="post" action="{% url 'main:dispense_edit' pk=object.pk %}" autocomplete="off">
  {% csrf_token %}

  <table class="table table-sm">

    <tr>
      <td class="align-middle">
        {{ form.id_card_no.label_tag }}
      </td>
      <td colspan="3">
        <input class="form-control text-monospace"
               type="number" min="0" max="999999999" step="1"
               id="form.id_card_no.id_for_label" name="{{ form.id_card_no.html_name }}"
               value="{{ form.id_card_no.value }}"
               tabindex="1">
      </td>
    </tr>

    {% include 'main/dispense_form_snippet.html' with material=object.material quantity_field=form.quantity %}

    <tr>
      <td colspan="2"></td>
      <td>
        <button type="submit"
                class="btn btn-primary mt-2"
                style="width: 100%"
                tabindex="2">Uložit</button>
      </td>
      <td></td>
    </tr>

  </table>
</form>

{% endblock content %}
