{% extends "main/base.html" %}
{% load markdownify %}

{% block title %}{{object.name}}{% endblock title %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url "main:region_list" %}">Oblasti</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url "main:region" object.region.id %}">{{object.region.name}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{object.name}}
    </li>
  </ol>
</nav>

<h5>Výdejní lokalita <small class="text-muted">#</small>{{object.id}}</h5>
<table class="table table-sm table-bordered">
  <tr>
    <th style="width: 10em">Název lokality</th>
    <td>{{object.name}}</td>
  </tr>

  <tr>
    <th>Telefonní číslo</th>
    {% if object.phone %}
    <td>{{object.phone}}</td>
    {% else %}
    <td><i>není uvedeno</i></td>
    {% endif %}
  </tr>

  <tr>
    <th>Adresa</th>
    {% if object.address %}
    <td>{{ object.address|linebreaksbr }}</td>
    {% else %}
    <td><i>není uvedena</i></td>
    {% endif %}
  </tr>

  <tr>
    <th>Personál</th>
    <td>
      {% if admins_count == 1 %}
        {{ admins_count }} koordinátor
      {% elif admins_count <= 4 and admins_count > 1 %}
        {{ admins_count }} koordinátoři
      {% else %}
        {{ admins_count }} koordinátorů
      {% endif %}
      <br>

      {% if volunteers_count == 1 %}
        {{ volunteers_count }} dobrovolník
      {% elif volunteers_count <= 4 and volunteers_count > 1 %}
        {{ volunteers_count }} dobrovolníci
      {% else %}
        {{ volunteers_count }} dobrovolníků
      {% endif %}
      <br>

      {% if pending_count == 1 %}
        {{ pending_count }} čekatel
      {% elif pending_count <= 4 and pending_count > 1 %}
        {{ pending_count }} čekatelé
      {% else %}
        {{ pending_count }} čekatelů
      {% endif %}
      <br>

      <a href="{% url "main:login" %}?location={{ object.id }}">chci pomoci s výdejem</a>
    </td>
  </tr>
</table>

<h5>Popis</h5>
<div class="description">
  {% if object.about %}
    {{ object.about|markdownify }}
  {% else %}
    <i>není uveden</i>
  {% endif %}
</div>

{% endblock content %}
